@model IEnumerable<Attendance_Application.Models.RegisterDB>

@{
    ViewBag.Title = "Index";
}
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhNo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>*@

<!-- Table 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-12">
                    <div class="card-body p-4">
                        <div class="table-responsive">
                            <table class="table table-borderless table-hover bsb-table-xl text-nowrap align-middle m-0">
                                <tbody>
                                    <tr>
                                        <th style="font-size: 20px;">
                                            @Html.DisplayNameFor(model => model.UserName)
                                        </th>
                                        <th style="font-size: 20px;">
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th style="font-size: 20px;">
                                            @Html.DisplayNameFor(model => model.PhNo)
                                        </th>
                                        <th></th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td style="font-size: 20px;">
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td style="font-size: 20px;">
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td style="font-size: 20px;">
                                            @Html.DisplayFor(modelItem => item.PhNo)
                                        </td>
                                        <td style="font-size: 20px;">

                                            <a href="@Url.Action("Edit", "User",new { id=item.ID })" title="Edit"><i class="bi bi-pen-fill text-primary"></i></a> |
                                            <a href="@Url.Action("Details", "User",new { id=item.ID })" title="Details"><i class="bi bi-info-square-fill text-warning"></i></a> |
                                            <a href="@Url.Action("Delete", "User",new { id=item.ID })" title="Delete"><i class="bi bi-trash-fill text-danger"></i></a> 
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
